<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="btext" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a id="btext" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a  class="navbar-brand" href="#" id="btext">
                Widget Edit
            </a>
        </div>
    </div>
</nav>


<h1 ng-if="widget.size == 1">{{widget.text}}</h1>
<h2 ng-if="widget.size == 2">{{widget.text}}</h2>
<h3 ng-if="widget.size == 3">{{widget.text}}</h3>
<h4 ng-if="widget.size == 4">{{widget.text}}</h4>
<h5 ng-if="widget.size == 5">{{widget.text}}</h5>
<h6 ng-if="widget.size == 6">{{widget.text}}</h6>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>