<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a id="ntext" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a id="ntext" ng-click="model.updateWidget()" >
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a  class="navbar-brand" id="ntext">
                Widget Edit
            </a>
        </div>
    </div>
</nav>

<div ng-switch="model.currentWidget.type">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/templates/editors/widget-header-edit.client.html'"></ng-include>
    </div>

    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/editors/widget-image-edit.client.html'"></ng-include>
    </div>

    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/editors/widget-youtube-edit.client.html'"></ng-include>
    </div>

    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/editors/widget-html-edit.client.html'"></ng-include>
    </div>

    <div ng-switch-when="INPUT">
        <ng-include src="'views/widget/templates/editors/widget-text-edit.client.html'"></ng-include>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>