<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a id="ntext" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a  class="navbar-brand" id="ntext">
                Widgets
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="container-fluid">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <ul class="list-group">
            <li class="list-group-item borderless justify-content-between">
                <a ng-click="model.createNewWidget(model.newWidgetHeader)" class="no-line-hover">
                    Header
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href="" class="no-line-hover">
                    Label
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a class="no-line-hover" ng-click="model.createNewWidget(model.newWidgetHTML)">
                    HTML
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href ng-click="model.createNewWidget(model.newWidgetText)" class="no-line-hover">
                    Text Input
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href="" class="no-line-hover">
                    Link
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href="" class="no-line-hover">
                    Button
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a ng-click="model.createNewWidget(model.newWidgetImage)" class="no-line-hover">
                    Image
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a ng-click="model.createNewWidget(model.newWidgetYouTube)" class="no-line-hover">
                    Youtube
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href="" class="no-line-hover">
                    Data Table
                </a>
            </li>
            <li class="list-group-item borderless justify-content-between">
                <a href="" class="no-line-hover">
                    Repeater
                </a>
            </li>
        </ul>
    </div>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>