<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <!--suppress XmlDuplicatedId -->
                <a id="ntext" href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <!--suppress XmlDuplicatedId -->
                <a class="navbar-brand" id="ntext">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right">
                <!--suppress XmlDuplicatedId -->
                <a id="ntext" href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs-block">
                <!--suppress XmlDuplicatedId -->
                <a id="ntext" href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <!--suppress XmlDuplicatedId -->
                <a id="ntext" href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header container-fluid">
                <!--suppress XmlDuplicatedId -->
                <a class="navbar-brand " id="ntext">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs full-stretch vertical-line">
        <div class="container-fluid">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            Name
                            <a>
                                <span class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </div>

                        <div class="col-xs-6">
                            <a href="#/user/{{model.userId}}/website/new" class="pull-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 no-line-hover">
                            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                                {{website.name}}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="pull-right">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>


    <div class="col-sm-8">
        <div class="container-fluid">
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" ng-model="website.name" type="text" placeholder="Name"/>
                <label>Description</label>
                <textarea class="form-control" rows="3" ng-model="website.des" placeholder="Description"></textarea>
            </div>
                <a class="btn btn-primary btn-block" ng-click="model.create(website)">
                    Create Website
                </a>
                <a class="btn btn-danger btn-block" href="/login">
                    Cancel
                </a>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
