<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a id="ntext" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a  class="navbar-brand" id="ntext">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    Name
                    <a>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </div>
                <div class="col-xs-3 hidden-xs no-line-hover">
                    Last Updated
                    <a>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </div>
                <div class="col-xs-2 hidden-xs no-line-hover">
                    Owner
                    <a>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-1">
                    <a href="#/user/{{model.userId}}/website/new" class="pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#/user/{{website._user}}/website/{{website._id}}/page" class="no-line-hover">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-xs-3 hidden-xs">
                    {{website.update | date}}
                </div>
                <div class="col-xs-2 hidden-xs">
                    {{website._user}}
                </div>
                <div class="col-sm-1 col-xs-6">
                    <a href="#/user/{{website._user}}/website/{{website._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="ntext" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>